.sidebarContainer {
	background-color: #FFF;
	height: calc(100vh - 50px);
	position: sticky;
	top: 50px;
	left:0;
	z-index: 5;
	

}

.sidebartogglebtn {
	background-color: transparent;
	border: none;
	color: var(--bs-secondary);
	font-size: 1.25rem;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: 0 1rem;
	position: absolute;
	top: -50px;
}

.sidebar {
	width: 50px;
	overflow-y: scroll;
	transition: all 300ms linear;
	background-color: #fff;
	height: 100% !important;
	

	
}


.sidebarController {
	width: 250px !important;
	height: 100%;
}

@media(max-width: 576px) {
	.sidebar {
		position: fixed;
		top: 50px;
		left:-50px;
	}
	.sidebarController{
		left: 0px;
	}
}




.sidebar::-webkit-scrollbar {
	display: none;
}