.sidebarContainer {
	background-color: #FFFFFF;
	transition: 300ms;
	width: 50px;

}

.sidebarwidthcontroll {
	width: 250px;
}

@media(max-width: 576px) {

	.sidebarwidthcontroll {
		width: 50px;
	}
	.sidebar{
		position: fixed;
	}

}

.sidebartogglebtn {
	background-color: transparent;
	border: none;
	color: var(--bs-secondary);
	font-size: 1.25rem;
	height: 50px;
	line-height: 50px;
	padding: 0 1rem;
}

.sidebar {
	/* position: fixed; */
	position: relative;
	z-index: 1111111111111111111;
	width: 250px;
	width: 50px;
	background-color: #FFFFFF;
	overflow-y: scroll;
	height: calc(100vh - 50px);
	transition: all 300ms linear;

}

.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar:hover {
	width: 250px;
}