.filters{
	background-color: #ffffff;
	border-radius:0.25rem;
	color: var(--bs-secondary);
	padding: 1rem;
	
}
.filtersHeading{
	font-size: 1.25rem;
	font-weight: 900 !important;
	font-family: 'Bree Serif', serif;
	margin-bottom: .5rem;
	letter-spacing: 2px;
}
.filterbody{
	padding: 1rem;
}
.filterbodyheading{
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: .5rem;
}
.filterlistgroup{
	list-style: none;
	margin: 0;
	padding: 0;
	/* border: 1px solid var(--bs-gray-300); */
	border-radius: 0.25rem;
	overflow: hidden;
	/* padding: 0.5rem; */
}
.filterlistgroup li{
	padding: 0.5rem 1rem;
	border: 1px solid var(--bs-gray-300);
	border-collapse: collapse;
	width: 100%;
	border-bottom: none;
	cursor: pointer;
}
.filterlistgroup li:hover{
	color: var(--bs-primary);
}
.filterlistgroup li:last-child{
	border-bottom: 1px solid var(--bs-gray-300);
}
.filterlistgroup li.active{
	color:#FFF;
	background-color: var(--bs-primary);
}