.width{
	/* max-width: 950px !important; */
}
.headerTop{
	padding-bottom: 0px !important;
	border-bottom: none !important;
}
.bookmarkbtn{
	background: transparent;
	border: 1px solid var(--bs-gray-300);
	color: var(--bs-primary);
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
	transition: all 100ms linear;

}
.bookmarkbtn:hover{
	border: 1px solid var(--bs-primary);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.bookmarkremovebtn{
	background: transparent;
	border: 1px solid var(--bs-gray-300);
	color: #FFFFFF;
	border-radius: 0.25rem;
	padding: 0.125rem 0.25rem;
	background-color: var(--bs-primary);
	transition: all 100ms linear;

}
.closebtn{
	background: transparent;
	border: none;
	color: var(--bs-primary);
	border-radius: 0.25rem;
	padding: 0px;
	font-size: 1.25rem;
	color: rgba(255, 0, 0, 0.6) ;
}
.closebtn:hover{
	color: rgba(255, 0, 0);

}
.cardSolvedIcon{
	font-size: 1.25rem;
}
.tagLink{
	text-decoration: none;
	color:#FFFFFF;
	background-color: var(--bs-primary);
	border-radius: 0.25rem;
	padding: 0.125rem 0.5rem;
	transition: all 150ms linear;
}
.tagLink:hover{
	color: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}