.active{
	  color: var(--bs-primary) !important;
}
.paginationcontainer {
	display: flex;
	justify-content: center;
	align-items: center !important;
	background: #fff;
	border-radius: 0.25rem;
	padding: 1rem 0rem;

}
