* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5 !important;
}

:root {

	--bs-primary: #1B98F5 !important;
	--bs-btn-bg: #1B98F5;
	--bs-btn-border-color: #1B98F5;
	--bs-btn-disabled-bg: #1B98F5;
	--bs-btn-disabled-border-color: #1B98F5;

}